@font-face {
    font-family: 'pacificoregular';
    src: url('fonts/pacifico-regular.woff2') format('woff2'),
    url('fonts/pacifico-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
    url('fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url('../img/sm_index_bkg.jpg');
    background-repeat: repeat-x;
}

.sm-social-img {
    margin-top: 20px;
    width: 50px;
}

.sm-title {
    text-align: center;
    margin-top: 50px;
    font-family: 'pacificoregular';
    color: #556273;
    text-shadow: -5px 5px #DDF0D1;
    font-size: 150px;
}

.sm-index-txt {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-family: 'open_sanslight_italic';
}

.sm-index-container {
    margin-top: 20px;
}

.sm-index-container ul li {
    display: inline-block;
}

.sm-sally-molly {
    width: 200px;
    margin-left: -180px;

}

.sm-img-container {
    text-align: center;
}


@media(min-width:575.98px) and (max-width:1000px) {
    .sm-sally-molly {
        margin-left: 0px;
    }
}


@media (max-width: 575.98px) {
    .sm-title {
        font-size: 70px;
    }

    .sm-sally-molly {
        position: static;
        width: 30%;
        margin-left: 0px;
    }

    .sm-img-container {
        text-align: center;
    }
}
